/* INTER */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* JUA */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jua&display=swap");
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

.moe-font-jua {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*/
.scroll-but-hidden {
  overflow: auto; 
  scrollbar-width: none;
}

.scroll-but-hidden::-webkit-scrollbar {
  display: none;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}


.moe-style {
  filter: brightness(0.9) contrast(1.2) saturate(1.5) hue-rotate(-10deg);
  background: linear-gradient(
    rgba(245, 133, 41, 0.2),
    rgba(221, 42, 123, 0.2),
    rgba(129, 52, 175, 0.2)
  );
  background-blend-mode: overlay;
}



@media screen and (max-width: 1100px) {
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }
}
